<%- include("partials/header") %> 
    <div>
        <% documents.forEach(function(post) { %>
            <div class="mt-4">
                <h3><%= post.title %></h3>
            </div>
            <div class="">
                <p class=""><%= post.content %></p>
            </div>
            <hr>
        <% }) %>
    </div>

<%- include("partials/footer") %> 
